<div class="inventory-container" #gridRef>
    <app-inventory-grid-component 
    [cols]="cols" 
    [rows]="rows"
    [hoverCell]="dragDrop.hoverCell"
    [hoverValid]="dragDrop.hoverValid"
    [draggedItem]="dragDrop.draggedItem"
    (cellHover)="onCellHover($event)"
    >
    </app-inventory-grid-component>

    <app-inventory-item-component
    *ngFor="let item of items"
    [item]="item"
    [isDragging]="dragDrop.draggedItem === item"
    [dragX]="dragDrop.mouse.x - dragDrop.dragOffset.x"
    [dragY]="dragDrop.mouse.y - dragDrop.dragOffset.y"
    (mouseDown)="onItemMouseDown($event)"
    (split)="openSplit($event)"
    ></app-inventory-item-component>

    

</div>

<div class="ui-overlay">
  <app-item-tooltip-component></app-item-tooltip-component>
</div>

<div class="ui-overlay">
    <app-split-modal-component
    [item]="selectedItem"
    [visible]="splitVisible"
    (close)="onSplitClose()"
    (confirm)="onSplitConfirm($event)"
    ></app-split-modal-component>
</div>


<button class="btn" (click)="onSave()">Save</button>

<button class="btn" (click)="onGenerateItem()">Generate item</button>