:host {
  position: relative;
  display: inline-block;
}

.grid {
  position: relative;
  z-index: 1;
}

app-inventory-item {
  position: absolute;
  z-index: 10;
}

.inventory-container {
  position: relative;      
  width: fit-content;
  height: fit-content;
  user-select: none;
}

.ui-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  pointer-events: none;
}
