@use 'mixins' as mixins;
@use 'variables' as vars;

.header {
  @include mixins.flex-gap(vars.$gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: vars.$padding 24px;
  background-color: vars.$color-bg-panel;
  color: vars.$color-text-main;
  border-bottom: 1px solid vars.$color-border;

  padding: 16px 26px;

  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);

  border-bottom: 2px solid rgba(255, 255, 255, 0.08);

  &__logo {
    font-weight: bold;
    font-size: 20px;
    color: vars.$color-accent;
  }

  &__nav {
    display: flex;
    gap: vars.$gap;

    a {
      color: vars.$color-text-main;
      text-decoration: none;

      &:hover {
        color: vars.$color-accent-hover;
      }
    }
  }

  &__actions {
    .btn {
      @include mixins.button-base();

      opacity: 0.8;
    }
  }
}